NobyRobot/*.session
NobyRobot/*.session-journal
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
NobyRobot/modules/helper_funcs/temp.txt
NobyRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
neko.session-journal
updates.txt
*.exe
